
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo!</h1>
    <a>A maior e mais mentirosa plataforma de agendamento de eventos da América Latina</a>
</div>
