@{
	var agora = DateTime.Now;
	var dataFormatada = agora.ToString("yyyy-MM-ddTHH:mm"); // Formato exigido por <input type="datetime-local">
}



<div class="container mt-4">
	<div class="row justify-content-center">
		<div class="col-md-8 col-lg-6">
		<h1 class="display-4">Cadastre seu evento!</h1>

	</div>

	<form>
		<div class="mb-3">
			<label for="nomeCompleto" class="form-label">Nome Completo</label>
			<input type="text" class="form-control" id="nomeCompleto" name="nomeCompleto" placeholder="Insira o nome completo do responsável." autocomplete="name" required>
		</div>

		<div class="mb-3">
			<label for="telefone" class="form-label">Telefone</label>
			<input type="tel" class="form-control" id="telefone" name="telefone" placeholder="(XX) XXXXX-XXXX" autocomplete="tel" required>
		</div>

		<div class="mb-3">
			<label for="email" class="form-label">E-mail</label>
			<input type="email" class="form-control" id="email" name="email" placeholder="Insira seu e-mail para contato." autocomplete="email" required>
		</div>

		<div class="mb-3">
			<label for="artista" class="form-label">Nome do Artista</label>
			<input type="text" class="form-control" id="artista" name="artista" placeholder="Nome do artista principal." required>
		</div>

		<div class="mb-3">
			<label for="local" class="form-label">Local do Evento</label>
			<input type="text" class="form-control" id="local" name="local" placeholder="Endereço ou nome do local do evento." required>
		</div>
		<div class="row mb-4">
			<div class="col-md-6 mb-3 mb-md-0">
				<label for="imagemEvento" class="form-label">Imagem do Evento</label>
				<input type="file" class="form-control form-control-sm" id="imagemEvento" name="imagemEvento" accept="image/*" required>
			</div>
			<div class="col-md-6">
				<label for="dataEvento" class="form-label">Data e Hora</label>
				<input type="datetime-local"
				       class="form-control form-control-sm"
				       id="dataEvento"
				       name="dataEvento"
				       value="@dataFormatada"
				       min="@dataFormatada"
				       required />
			</div>
		</div>

		<button type="submit" class="btn btn-primary w-100">Cadastrar Evento</button>
	</form>
</div>