@{
	ViewData["Title"] = "Listagem de eventos";


	var eventos = new List<dynamic>
	{
		new { Titulo = "Show do Manoel Gomes", Data = "16/08 18:00", Local = "Divinóia", ImagemUrl = "https://oimparcial.com.br/app/uploads/2021/04/azul-caneta.jpg" },
		new { Titulo = "Show da Banda X", Data = "20/08 20:30", Local = "São Paulo", ImagemUrl = "https://cdn-images.dzcdn.net/images/cover/052a6db952552c1bf9ea03573ae06ed4/0x1900-000000-80-0-0.jpg" },
		new { Titulo = "Festival Rock", Data = "01/09 16:00", Local = "Belo Horizonte", ImagemUrl = "https://portalbelohorizonte.com.br/sites/default/files/styles/normal_size/public/arquivos/eventos/2024-12/453785951_792098653132624_430144111461666994_n_0.jpg?itok=L6icN3tx" }
	};
}

<div class="container">
	<div class="d-grid gap-2 d-md-flex justify-content-md-start">
		<a class="btn btn-info" role="button" asp-controller="ControleDeEventos" asp-action="CadastrarEventos">Criar novo evento</a>
	</div>
	<h1 class="display-4 mb-4">Listagem de eventos</h1>
	<div class="row">
		@foreach (var evento in eventos)
		{
			<div class="col-md-4 mb-4">
				<div class="card h-100 shadow-sm">
					<img class="card-img-top" src="@evento.ImagemUrl" alt="Imagem do evento">
					<div class="card-body p-3">
						<h5 class="card-title">@evento.Titulo</h5>
						<p class="card-text">@evento.Data</p>
						<p class="card-text">@evento.Local</p>
						<a class="btn btn-primary me-2" role="button" asp-controller="ControleDeEventos" asp-action="VerEvento">Ver evento</a>
						<a class="btn btn-success" role="button" asp-controller="ControleDeEventos" asp-action="ComprarAgora">Comprar agora</a>
					</div>
				</div>
			</div>
		}
	</div>
</div>